@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #333333; /* Deep gray background */
    color: #CCCCCC; /* Light gray text */
}

.sidebar {
    background: #1e1e1e;
    padding: 30px;
    width: 190px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
}

.logo {
    /* Add logo styling here */
}

.navigation-container {
    transform: rotate(90deg); /* Rotate the container */
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation a {
    color: #CCCCCC;
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
    font-size: 1.5em;
    margin-right: 150px; /* Add space to the right of each item */
    white-space: nowrap; /* Prevent text from wrapping */
    padding: 25px 0;
}

.navigation a:hover {
    border-left: 3px solid #27AE60; /* Lighter green for key accents */
    padding-left: 5px;
}

.main-content {
    margin-right: 250px; /* Changed from margin-left: 250px; */
    padding: 40px;
}

#welcome h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #27AE60; /* Lighter green for key accents */
}

.footer {
    text-align: center;
    padding-top: 20px;
    font-size: 0.8rem;
    color: #CCCCCC;
}

.main-content {
    position: relative;
    background-color: #333333; /* Deep gray background */
    color: #CCCCCC; /* Light gray text */
    padding: 50px; /* Adjust as needed */
    /* Your existing styling */
}

.corner-design {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0; /* Adjust size as needed */
    border-color: #27AE60 transparent transparent transparent; /* Lighter green for key accents */
    z-index: 10;
}




/* General styles */
section {
    margin-bottom: 40px;
    color: #ffffff;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #27AE60; /* Lighter green for key accents */
    border-bottom: 2px solid #27AE60; /* Lighter green for key accents */}

p, li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* About section */
#about {
    max-width: 800px; /* Adjust as needed */
}

/* Skills section */
#skills ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Projects section */
.project-item {
    background: #1e1e1e; /* Keep the project item color as it is */
    border-left: 5px solid #27AE60; /* Lighter green for key accents */    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
    background: #292929; /* Even lighter on hover for emphasis */
}

/* Contact section */
#contact form {
    max-width: 800px; /* Adjust as needed */
    margin-top: 20px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #2c2c2c;
    color: #ffffff;
}

#contact button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2ECC71; /* Brighter green for buttons */
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #28a9a5; /* Darken the button color on hover */
}

/* Responsive design */
@media (max-width: 768px) {
    #skills ul {
        grid-template-columns: 1fr;
    }
}

#skills ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
}

.skill-box {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px; /* Make the corners rounded */
    color: #fff;
    font-size: 1.2em;
    margin: 10px; /* Add some space around the boxes */
}

.skill-icon {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    vertical-align: middle;
    filter: brightness(0) invert(1); /* Make the icon white */

}

.skill-box:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.skill-box:active {
    transform: scale(0.95);
}

.secondary-accent {
    color: #3498DB; /* Muted blue */
}

